# Системные файлы и папки
# Конкретные файлы и папки
/node_modules/
/private/
/dist/
/build/
.DS_Store
desktop.ini
Thumbs.db

# Игнорировать lab папки
lab1/
lab2/
lab4/
lab5/
lab6/

# Файлы IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.iml

# Временные файлы
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
dist/
build/

# Логи и базы данных
*.log
*.sqlite
*.db

# Пакетные менеджеры
package-lock.json
yarn.lock

# Конфигурационные файлы
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Специфичные для проекта
private/
secret_config.xml
credentials.json
my_notes.txt
git_push.txt
ssh serv.txt