/* Баннер */
.banner {
  background-color: #2c3e50;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.banner h1 {
  font-size: 46px;
  margin-bottom: 20px;
  line-height: 1.0;
  font-weight: 800; /* Максимальная жирность */
  /* Дополнительно можно добавить text-shadow для усиления эффекта */
  text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
}


.banner h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
  /* Удаляем ограничение max-width */
  width: 100%; /* Используем всю доступную ширину */
  margin-left: auto;
  margin-right: auto;
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.feature {
  text-align: center;
}

.cta-button {
  display: inline-block;
  background-color: #00b08a;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 33px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 24px; 
}
